<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.birralandia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".OnboardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReferidosCompartirActivity" />
        <activity
            android:name=".LaBirraBar.LaBirraBarListadoActivity"
            android:label="@string/title_activity_la_birra_bar_listado"
            android:theme="@style/NoActionBar" />
        <activity android:name=".LaBirraBar.LaBirraBarActivity" />
        <activity
            android:name=".ListCervecerias"
            android:label="@string/title_activity_list_cervecerias"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>